@page
@model Songify.Pages.AccountPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <img style="width: 15rem; height: 15rem; float: left" src="https://www.alchinlong.com/wp-content/uploads/2015/09/sample-profile.png"/>
    <h1 style="float: left; margin-left: 1rem;">John Doe</h1>
    
    <div style="clear: both"  class="row">
        <!-- First Div for Cards (Assuming each card is placed in a col-md-6) -->
        <div style="float: left; margin-left: 10%" class="col-md-6 col-sm-6">
            <div class="card" style="width: 25rem; height: 50rem; border: dotted red 1px">
                <div class="card-body">
                    <!-- Card content goes here -->
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">This is the content of Card 1.</p>
                </div>
            </div>
        </div>
        
        <!-- Second Div for Cards (Assuming each card is placed in a col-md-6) -->
        <div style="float: left; margin-left: 10%" class="col-md-6 col-sm-6">
            <div class="card" style="width: 25rem; height: 50rem; border: dotted blue 1px">
                <div class="card-body">
                    <!-- Card content goes here -->
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">This is the content of Card 2.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Second Div for Cards (Assuming each card is placed in a col-md-6) -->
        <div style="float: left; margin-left: 10%" class="col-md-6 col-sm-6">
            <div class="card" style="width: 25rem; height: 50rem; border: dotted yellow 1px">
                <div class="card-body">
                    <!-- Card content goes here -->
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">This is the content of Card 3.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>